@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --orange: #DD5E42;
  --brown: #AD8C34;
  --yellow: #E8DAB2;
  --dark-blue: #4F6D7A;
  --light-blue: #92B9C8;
  --green: #638A2E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
  width: 100vw;
  height: 100vh;
}

#center {
    @apply w-full h-full flex items-center justify-center;
}

#ui-container {
    width: 420px;
    max-width: 80vw;
    border-radius: 5px;

    @apply p-4;
}

#wordmark-box {
    margin: 0 auto;
    width: 100%;
    pointer-events: none;
    user-select: none;
    @apply mt-5 flex items-center flex-col;
}

#wordmark-box > h1 {
    text-align: center;
    font-weight: 500;
    @apply text-gray-300;
}

#wordmark-box > h1 > #wordmark-mark {
    font-variant: small-caps;
    font-style: italic;
    font-weight: 700;
    font-family: var(--font-kanit);
}


.header {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 20px;
}

.note {
    color: var(--light-blue);
}

.refresh-button > span {
    font-size: 18px;
    transform: translateY(1.5px);
}

.refresh-button {
    padding: 0px 5.5px;
    border-radius: 6px;
    transform: translate(3px, -2px);
    float: right;
    cursor: pointer;
    transition: 0.3s ease background-color;
    user-select: none;
}

.refresh-button:hover {
    @apply bg-gray-100
}


.refresh-button:active {
    @apply bg-gray-300
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

.info-pane-row {
    margin-bottom: 3px;
}

.job-pane-row-left {
    width: 60px;
    @apply text-gray-400 mr-1 inline-block;
}

.job-pane-row-right {
    @apply inline-block;
}


.job-id {
    font-family: var(--font-robono), monospace;
    font-size: 14px;
    overflow: hidden;
    transform: translateY(3px);
    @apply inline-block;
}

.job-status-badge {
    display: inlin-block;
    font-weight: 500;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 14px;
    @apply inline-block;
}

.job-status-pending {
    background-color: var(--dark-blue);
}

.job-status-success {
    background-color: var(--green);
}

.job-status-failure {
    background-color: var(--orange);
}

.job-status-started {
    background-color: var(--brown);
}

.download {
    color: var(--dark-blue);
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    padding-left: 0;
    margin-top: 10px;
}

.link {
    text-decoration: underline;
}
.loaderbox {
    display: inline-block;
    transform: translate(14px, 4px);
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #acacac;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.error-header {
    color: var(--orange);
    font-weight: 700;
}

.error-message {
    color: var(--orange);
}

.error-text {
    font-family: var(--font-robono), monospace;
    margin: 5px 0 15px 0;
    font-size: 13px;

    @apply text-gray-400;
}

.logout {
    border: 0;
    border-radius: 5px;
    padding: 2px 8px;
    cursor: pointer;
    transform: translateX(-2px);
    transition: 0.3s ease opacity;
    margin-top: 9px;
    color: var(--dark-blue) !important;
    background-color: var(--white) !important;
    font-weight: 700 !important;
    border: 2px solid var(--dark-blue) !important;
    font-size: 13px;
}

